<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "<< Back to Articles List", articles_path %>c


<div id='map'></div>
<script type="text/javascript">

window.onload = function() {
  var map,
  dir;

  // map.locate({setView: true, maxZoom: 16});


  map = L.map('map', {
    layers: MQ.mapLayer(),
    center: [ 40.045049, -105.961737 ],
    zoom: 9
  });

  dir = MQ.routing.directions()
  .on('success', function(data) {
    var legs = data.route.legs,
    html = '',
    maneuvers,
    i;

    if (legs && legs.length) {
      maneuvers = legs[0].maneuvers;

      for (i=0; i<maneuvers.length; i++) {
        html += (i+1) + '. ';
        html += maneuvers[i].narrative + '<br />';
      }

      L.DomUtil.get('route-narrative').innerHTML = html;
    }
  });

  dir.route({
    locations: [
    // "<%= @map_address %>"
    { latLng: { lat: 39.781, lng: -105.078 }},
    '1510 Blake Street, Denver, CO 80202'
    ]
  });

  map.addLayer(MQ.routing.routeLayer({
    directions: dir,
    fitBounds: true
  }));

  var scottIcon = L.icon({
    iconUrl: 'https://scontent.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10155510_10204458136868133_2678102298998605784_n.jpg?oh=1b229d0033f64ab07645de7a59ecc41c&oe=5582A623',

    iconSize:     [64, 64], // size of the icon
    popupAnchor:  [0, -76] // point from which the popup should open relative to the iconAnchor
  });
  L.marker([39.781, -105.078], {icon: scottIcon}).addTo(map).bindPopup("Still famous in Lightning Talks!");

  var turingIcon = L.icon({
    iconUrl: 'https://pbs.twimg.com/profile_images/444146105312243712/EHdy1GyV_400x400.png',

    iconSize:     [64, 64], // size of the icon
    popupAnchor:  [0, -40] // point from which the popup should open relative to the iconAnchor
  });
  L.marker([39.749747, -104.999977], {icon: turingIcon}).addTo(map).bindPopup("Turing School of Software and Design<br>1510 Blake Street, Denver, CO 80202");
}
</script><br>
<button onclick="showDirections();">Show Directions</button>
<div id='route-narrative' style='margin-top:20px;'></div>
